#login-form {
    width: 100%;
    margin: 5% auto;
}

#submit-button {
    margin: 1% auto;
}

.container {
    border: 1px grey solid;
    width: 30%;
}

#logo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("logo.png");
}
