@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header {
    height: 100px;
    width: auto;
    box-shadow: 10px 10px grey;
    border: solid;
}
h1 {
    font-variant: small-caps;
    font-family: 'Open Sans';
    text-shadow: 1px 1px grey;
    color: red;
}
#logo {
    float: left;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("logo.png");
}
#navbar {
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

.container{
    margin-top: 50px;
    font-family: 'Open Sans';
    /* font-size: 15px; */
}

.card-header{
    padding: 10px;
    font-size: 18px;
}