@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('../assets/js/DataTables/datatables.min.css');

header {
    height: 100px;
    width: auto;
    box-shadow: 10px 10px grey;
    border: solid;
}
h1 {
    font-variant: small-caps;
    font-family: 'Open Sans';
    text-shadow: 1px 1px grey;
    color: red;
}
#logo {
    float: left;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/logo.png");
}
#navbar {
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

.container{
    margin-top: 30px;
    font-family: 'Open Sans';
    /* font-size: 15px; */
}

.card-header{
    padding: 10px;
    font-size: 18px;
} 

span{
    color: blue;
    font-family: 'Alata', sans-serif;

}

.total{
    font-size: 18px;
    color: red;
    /* text-align: center; */
    font-family: 'Alata', sans-serif;

}

#info{
    background-color: rgb(228, 227, 227);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 17px;
    padding: 20px;
    /* font-family: 'Open Sans'; */
    font-family: 'Alata', sans-serif;
}
