@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header {
    height: 100px;
    width: auto;
    box-shadow: 10px 10px grey;
    border: solid;
}

h1 {
    font-variant: small-caps;
    font-family: 'Open Sans';
    text-shadow: 1px 1px grey;
    color: red;
}

#logo {
    float: left;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}

#navbar {
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

.container {
    margin-top: 30px;
    font-family: 'Open Sans';
    /* font-size: 15px; */
}

.card-header {
    padding: 10px;
    font-size: 18px;
}

span {
    color: blue;
    font-family: 'Alata', sans-serif;

}

.total {
    font-size: 18px;
    color: red;
    /* text-align: center; */
    font-family: 'Alata', sans-serif;

}

#info {
    background-color: rgb(228, 227, 227);
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 17px;
    padding: 20px;
    /* font-family: 'Open Sans'; */
    font-family: 'Alata', sans-serif;
}

// Table styling

#TKTtable {
    width: 100%;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

button {
    background-color: red;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#CreateTKT:hover {
    background-color: #ffcccb;
    /* light red */
    color: black;
}

h1 {
    font-variant: small-caps;
    font-family: 'Open Sans';
    text-shadow: 1px 1px grey;
    color: red;
}

#logo {
    float: right;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
}

#tktbar {
    text-align: left;
    padding-right: 10px;
    padding-top: 20px;
}